<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Comment</title>
    <link rel="stylesheet" href="\form_page_style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Truculenta&display=swap" rel="stylesheet">
</head>
<body>
    <div>
        <h3>Add New Comment</h3>
        <form action="/comments" method="post">
            <label for="name">Name: </label><input placeholder="Username" type="text" name="name" id="name" required>
            <br>
            <label for="comment">Comment: </label> <textarea id="comment" name="comment" placeholder="New comment here..." cols="50" rows="10" required></textarea>
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>