<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment By ID</title>
    <link rel="stylesheet" href="\comment_by_id.css">
</head>
<body>
    <div id="content">
        <h1>Comment by: <%= comment_to_show.name %> 
        </h1>
        <p> <%= comment_to_show.line %>  </p>
    </div>
    <hr>
    <div id="options">
        <button id="showComments"><a href="/comments">Back to all comments</a></button>
        <button id="editComment"><a href="/comments/<%= comment_to_show.id %>/edit">Edit this comment</a></button>
        <form action="/comments/<%= comment_to_show.id %>?_method=DELETE" method="POST">
        <button id="delete">DELETE</button>
        </form>
    </div>
</body>
</html>